.s-ukit-table-sort-two-button {
  width: 100%;
  table-layout: unset;
  border: none;
  border-spacing: 0;
  border-radius: 4px;
  text-align: left;
  overflow: hidden;
}

.s-ukit-table-sort-two-button_pointer-none {
  pointer-events: none;
}

.s-ukit-table-sort-two-button__caption {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.s-ukit-table-sort-two-button__head {
  background-color: #b8b8b8;
  cursor: default;
  padding: 10px 10px;
  border-bottom: 1px solid #b2b7c7;
}

.s-ukit-table-sort-two-button__head:hover {
  background-color: #a7a7a7;
}

.s-ukit-table-sort-two-button__head_background {
  background-color: #afb0b8;
}

.s-ukit-table-sort-two-button__column {
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid #b2b7c7;
  border-radius: 0;
  cursor: default;
}

.s-ukit-table-sort-two-button_clickable {
  cursor: pointer;
}

.s-ukit-table-sort-two-button__wrap-cell {
  display: flex;
  align-items: center;
}


.s-ukit-table-sort-two-button__cell {
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid #b2b7c7;
  border-radius: 0;
  cursor: default;
}

.s-ukit-table-sort-two-button__cell_back {
  background-color: #e5e5e5;
}

.s-ukit-table-sort-two-button_clickable {
  cursor: pointer;
}

.s-ukit-table-sort-two-button__row {
  cursor: default;
  background-color: transparent;
  border-bottom: 1px solid #b2b7c7;
}

.s-ukit-table-sort-two-button_clickable {
  cursor: pointer;
}

.s-ukit-table-sort-two-button__row:hover {
  background-color: #e5e5e5;
}
