.s-ukit-icon__sort-up {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
  fill: #dddddd;
}

.s-ukit-icon__sort-up:hover {
  fill: #7d7d7d;
}

.s-ukit-icon__sort_clickable {
  cursor: pointer;
}

.s-ukit-icon__sort_color {
  fill: #6f65cb;
}

.s-ukit-icon__sort_color:hover {
  fill: #6158b1;
}
