.itpc-table-sort {
  width: 100%;
  table-layout: unset;
  border: 1px solid #b2b7c7;
  border-spacing: 0;
  border-radius: 4px;
  text-align: left;
  overflow: hidden;
}

.itpc-table-sort_pointer-none {
  pointer-events: none;
}

.itpc-table-sort__caption {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.itpc-table-sort__head_background-active {
  background-color: #e5e5e5;
}

.itpc-table-sort__head_background {
  background-color: #ffffff;
}

.itpc-table-sort__head {
  cursor: default;
  padding: 10px 10px;
  border-bottom: 1px solid #b2b7c7;
}

.itpc-table-sort__head:hover {
  background-color: #e5e5e5;
}

.itpc-table-sort__column {
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid #b2b7c7;
  border-radius: 0;
  cursor: default;
}

.itpc-table-sort_clickable {
  cursor: pointer;
}

.itpc-table-sort__wrap-cell {
  display: flex;
  align-items: center;
}


.itpc-table-sort__cell {
  padding: 10px;
  font-weight: 400;
  border-radius: 0;
  cursor: default;
}

.itpc-table-sort__cell_back {
  background-color: #e5e5e5;
}

.itpc-table-sort__row {
  cursor: default;
  background-color: transparent;
}

.itpc-table-sort__row:hover {
  background-color: #e5e5e5;
}
